#headerNavigation {
    padding: 20px 40px;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 15px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: right;
}

.top-button {
    float: right;
}

.top-button a {
    margin: 0 8px;
    padding: 8px 20px;
    border-radius: 50px;
    background: grey
    color(#333);
    text-decoration: none;
}

.btn {
    border: 1px solid #fff;
    padding: 5px 20px;
    color: rgba(0, 0, 0, 0.662);
    transition: 0.5 ease;
    font-size: 16px;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    width: 5%;
    position: absolute;
    top: 2%;
    left: 5%;
}

/* Title section */
#headerTitle {
    text-align: center;
    padding-top: 50px;
    flex-direction: column;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    color: rgb(78, 89, 100);
    font-size: 40px;
}

#subtitle {
    color:rgba(151, 166, 183);
    font-size: 25px;
}

/* image and caption and review */
#article {
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 90px;
}

#article img {
    max-width: 115%;
    max-height: 100%;
    border-radius: 5px;
}

#review {
    margin-left: 50px;
    font-size: 15px;
}

#caption {
    margin-top: 40px;
}

#userId {
    margin-left: 72px;
    margin-top: 22px;
}

.user {
    width: 3.5%;
    position: absolute;
    margin-left: 20px;
}

/* Call Us section */
#callUs {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


#contactUsSales {
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titleSubtitle {
    margin: 10px;
    color: #333333e2;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#form {
    flex-basis: 28%;
    flex-grow: 0;
    background-color: rgba(237, 240, 244);
    margin-right: 60px;
    margin-bottom: 200px;
    border-radius: 5px;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #fillIn{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-group label{
    margin-top: 10px;
    flex-basis: 28%;
    font-size: 13px;
}

.input-group input, .input-group textarea{
    margin-top: 5px;
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 13px;
}
::placeholder{
    font-size: 12px;
}

form button{
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
    font-size: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-group span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 13px;
    color: red;
}

#submit-error {
    color: red;
}

.input-group span i{
    color: seagreen;
}


/* banner */
.slider {
    display: block;
    margin: auto auto;
    width: 90%;
    margin-top: 20px;
    
}

/* Our Package section */
.package {
    padding: 30px 0;
    text-align: center;
}

.heading {
    flex-basis: auto;
    text-align: center;
    padding: 30px 0px;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(78, 89, 100);
    background-color: #c6c6c628;
}

#text {
    font-size: 17px;
    color: rgb(78, 89, 100);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.crop {
    height: 260px;
    width: 260px;
}

.crop img {
    height: 220px;
    width: 220px;
    object-fit: cover;
}

.package .box-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:1rem;
}

.package .box-container .box{
    padding: 3rem 2rem;
    background: white;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

#desc {
    font-size: 13px;
    color: rgba(78, 89, 100, 0.817);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Call to Action section */
.waitFor {
    text-align: center;
    padding: 35px 0px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(78, 89, 100);
    background-color: #c6c6c628;
}

.button{
  color: #ffffff;
  background-color: #141a34;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 15px;
  margin-left: 525px;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 50px;
}

.button:hover{
  box-shadow: none;
  cursor: pointer;
}

.button i{
  font-size: 15px;
  padding-right: 5px;
}



/* Footer section */
.footer {
    background: rgba(128, 128, 128, 0.489);
}

.footer .box-container{
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 15px;
    font-size: 15px;
    color: var(--black);
}

.footer .credit span {
    color: var(--gray);
}

.footer {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* media query */
@media screen and (max-width: 600px){
    #navigationBar{
        flex-direction: column;
        padding: 3px 0 10px 0;
        align-items: center;
    }

    #logo{
        padding-bottom: 6px;
    }

    #title{
        font-size: x-large;
    }

    #subtitle{
        font-size: x-large;
    }
}
